* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open-sans";
  background-color: #292e39;
  color: #eceff4;
}
.matrix-container {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matrix-container canvas {
  width: 100%;
  height: 189px;
  border-bottom-right-radius: 94px;
  border-bottom-left-radius: 94px;
}

.greeting-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  text-shadow: 0px 0px 10px rgba(41, 46, 57, 0.25);
}

#current-time {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 8px;
  flex-grow: 1;
}

.table-container th[type="ent-title"] {
  color: #bf616a;
}

.table-container th[type="soc-title"] {
  color: #a3be8c;
}

.table-container th[type="prod-title"] {
  color: #81a1c1;
}

.table-container th[type="shop-title"] {
  color: #b48ead;
}

.table-container a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.table-container td {
  transition: all 0.2s ease-in-out;
}

.table-container td:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 10px rgba(236, 239, 244, 0.25);
}

.search-box {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 660px;
}

.search-box img {
  margin-right: 10px;
}

.search-box form {
  display: flex;
  flex-grow: 1;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 5px #3b4252;
}

.search-box input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #3b4252;
  border-radius: 15px;
  background-color: #3b4252;
  color: #eceff4;
  font-size: 14px;
  font-family: "open-sans";
}

#search-icon {
  height: 43px;
  width: 43px;
}

#current-time {
  font-size: 32px;
  font-family: "open-sans";
  font-weight: bold;
  color: #5e81ac;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans.ttf") format("truetype");
}
